title: zenn-articles
lang: ja

markdown: kramdown

kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: false

highlighter: rouge

include:
  - assets
  - pages
